<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <link rel="stylesheet" href="css/styles.css">
    <title>Document</title>
</head>
<body>

 
    <div class="card">
        <form action="/productInfo" method="post">

            <div class="form-group">
                
                <label for="subCategory">Product Type : </label>
            <br>
            <select name="subCategory" id="subCategory">
                
                <%data.subCategory.forEach(function(i){%>
                    <option name="subcategoryy" value="<%= i %>"> <%= i %> </option>
                <%})%> 

            </select>
              </div>
              <br>
              <br>
    
            <button type="submit" class="btn btn-primary">submit</button>
        </form>
        

    </div>
</body>
</html>